[data-md-color-accent="teal"] {
  --md-tag-list-color: aliceblue;
  --md-tag-color1: #795649;
  --md-tag-color2: #ef5552;
  --md-tag-color3: #e92063;
  --md-tag-color4: #ab47bd;
  --md-tag-color5: #4051b5;
  --md-tag-color6: #2094f3;
  --md-tag-color7: #02a6f2;
  --md-tag-color8: #00bdd6;
  --md-tag-color9: #009485;
  --md-tag-color10: #4cae4f;
  --md-button1: #000000;
  --md-button2: #ffffff;
}

[data-md-color-scheme="slate"] {
  --md-tag-list-color: #21222c;
  --md-tag-color1: #cbdc38;
  --md-tag-color2: #ef5552;
  --md-tag-color3: #e92063;
  --md-tag-color4: #ab47bd;
  --md-tag-color5: #ffec3d;
  --md-tag-color6: #2094f3;
  --md-tag-color7: #02a6f2;
  --md-tag-color8: #00bdd6;
  --md-tag-color9: #009485;
  --md-tag-color10: #4cae4f;
  --md-button1: #ffffff;
  --md-button2: #000000;
}

global variables :root * {
  --md-tasklist-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 3H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m0 2v14H5V5h14z"/></svg>');
  --md-tasklist-icon--checked: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m10 17-5-5 1.41-1.42L10 14.17l7.59-7.59L19 8m0-5H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z"/></svg>');
  --md-code-bg-color: #fafafa;
  --md-admonition-icon--tip: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.27 18.18 21l-1.64-7.03L22 9.24l-7.19-.62L12 2 9.19 8.62 2 9.24l5.45 4.73L5.82 21 12 17.27z"></path></svg>');
  --md-admonition-icon--tag: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m21.41 11.58-9-9A2 2 0 0 0 11 2H4a2 2 0 0 0-2 2v7a2 2 0 0 0 .59 1.42l9 9A2 2 0 0 0 13 22a2 2 0 0 0 1.41-.59l7-7A2 2 0 0 0 22 13a2 2 0 0 0-.59-1.42M13 20l-9-9V4h7l9 9M6.5 5A1.5 1.5 0 1 1 5 6.5 1.5 1.5 0 0 1 6.5 5z"></path></svg>');
}

/* tags */
.md-tag {
  font-weight: unset;
}

/* admonitions */
.md-typeset :is(.admonition, details) {
  border: none !important;
  background-color: aliceblue !important;
  box-shadow: none;
  font-size: unset;
  margin: 1em 0;
  padding: 0.5em 1em;
}
.md-typeset :is(.admonition-title, summary) {
  border: none;
  background-color: unset !important;
  margin: 0.25em 0;
  padding: 0;
}
.md-typeset :is(.admonition-title, summary):before {
  left: 0;
  top: 0;
  height: 1.2rem;
  width: 1.2rem;
}
.md-typeset :is(.admonition-title, summary):after {
  right: 0;
  top: 0;
}
.md-typeset :is(.admonition, details) > *:not(.admonition-title, summary) {
  padding-left: 1.8rem;
}
[dir="ltr"] .md-typeset :is(.admonition-title, summary) {
  padding-left: 2.6rem;
}
.md-typeset details {
  margin-bottom: 0.5em !important;
}
.md-typeset details:not([open]) {
  padding-bottom: 0.5em;
}
.md-typeset details:not([open]) summary {
  font-weight: normal;
}
html .md-typeset :is(.admonition, details) > :last-child,
html .md-typeset :is(.admonition-title, summary):last-child {
  margin-bottom: 0.25em;
}
.md-typeset .tag > :is(.admonition-title, summary)::before {
  background-color: teal;
  -webkit-mask-image: var(--md-admonition-icon--tag);
  mask-image: var(--md-admonition-icon--tag);
}
